<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHH Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .playlist-container {
            text-align: center;
            margin-top: 50px;
        }
        iframe {
            border: none;
            width: 80%;
            height: 480px;
            max-width: 900px;
        }
    </style>
</head>
<body>
    <div class="bg"></div>
    <div class="playlist-container">
        <h1>Crystal's Happy H̶̖̰̜̓̃̈́̀ǒ̴͍̟͛m̸̨̒̓́̿e̸͖̣̽͠ Playlist 💙</h1>
        <iframe 
            src="https://www.youtube.com/embed/videoseries?list=PLX-KZQv2Wg08te5ixijR7oVj5Uzvidzfa" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
</body>
</html>
